@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-size: 16px;
  font-family: "Josefin Sans", serif;
  background-image: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  ); 
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

main .mobile-logo {
  display: block;
  margin: 2em 0 1.7em 2em;
}

main .mobile-logo img {
  width: 100px;
}

main .hero-image {
  display: flex;
}

main .hero-image .hero-img {
  width: 100%;
  height: auto;
}

main .hero-image .mobile-hero-image {
  margin-bottom: 4em;
}

main .hero-image .desktop-hero-image {
  display: none;
}

main .article {
  padding-inline: 8%;
  padding-bottom: 6.34em;
}

main .article .desktop-logo {
  display: none;
}

main .article .headline {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 11px;
  line-height: 1.05;
  color: hsl(0, 6%, 24%);
  margin-bottom: 0.4em;
}

main .article .headline span {
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}

main .article > p {
  color: hsl(0, 36%, 70%);
  font-weight: 400;
  text-align: center;
  font-size: 0.88rem;
  margin: 0 auto;
  line-height: 1.55;
  margin-bottom: 2.3em;
}

main .article form {
  position: relative;
  padding-bottom: 0.5em;
}

form .email-box-wrapper {
  border-radius: 2em;
  border: 1px solid hsl(0, 36%, 70%);
  height: 48px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form .email-box-wrapper label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 68%;
  align-items: center;
  padding-left: 1.5em;
}

form .email-box-wrapper #email-box {
  border: none;
  outline: none;
  align-self: stretch;
  width: 100%;
  background: transparent;
  align-self: center;
  color: hsl(0, 6%, 24%);
  font-weight: 400;
}

form .email-box-wrapper #email-box::-webkit-input-placeholder {
  color: hsl(0, 36%, 70%);
  font-weight: 300;
  opacity: 0.7;
  font-size: 0.8rem;
  letter-spacing: 0.8px;
}

form .email-box-wrapper #email-box::placeholder {
  color: hsl(0, 36%, 70%);
  font-weight: 300;
  opacity: 0.7;
  font-size: 0.8rem;
  letter-spacing: 0.8px;
}

form .email-box-wrapper .icons {
  position: absolute;
  height: 48px;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  z-index: 999;
}

form .email-box-wrapper .icons .submit-btn {
  outline: none;
  border: none;
  position: relative;
  border-radius: 2em;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 20px 0 hsl(0, 36%, 79%);
}

form .email-box-wrapper .icons .submit-btn:hover {
  cursor: pointer;
  opacity: 0.5;
  box-shadow: 0 10px 12px 0 hsl(0, 36%, 70%);
}

form .email-box-wrapper .icons .icon-error {
  margin-right: 0.5em;
  width: 20px;
  height: 20px;
  display: none;
}

form .email-box-wrapper .icons .layer {
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  position: absolute;
  right: 0;
  height: 100%;
  width: 65px;
  z-index: -9999;
  border-radius: 2em;
}

form .message {
  position: relative;
  top: 0.5em;
  left: 2em;
  overflow: hidden;
  width: fit-content;
  min-height: 16px;
}

.message small {
  position: relative;
}

.successful small::after {
  content: 'Successful';
  color: green;
}

.unsuccessful small::after {
  content: 'Please provide a valid email';
  color: hsl(0, 93%, 68%);
}

.error .email-box-wrapper {
  border: 2px solid hsl(0, 93%, 68%);
}

.error .email-box-wrapper .icons .icon-error {
  display: block;
}

@media (width >= 768px) {
  body {
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
  }

  .wrapper {
    display: flex;
    justify-content: end;
  }

  .wrapper main {
    max-width: calc(100% - 100px);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 2em;
  }

  main .mobile-logo {
    display: none;
  }

  main .article .desktop-logo {
    display: block;
    margin: 4em 0 6em 0em;
  }

  main .hero-image {
    max-width: 50%;
  }

  main .hero-image .desktop-hero-image {
    display: initial;
    object-fit: cover;
  }

  main .hero-image .mobile-hero-image {
    display: none;
  }

  main .article {
    min-width: 300px;
    max-width: 28em;
    width: 90%;
    padding: 0 0 4em 0;
    margin: 0;
  }

  main .article .headline {
    font-size: 3rem;
    text-align: left;
    letter-spacing: 11px;
    line-height: 1.08;
    margin-bottom: 0.3em;
  }

  main .article > p {
    font-size: 1rem;
    text-align: left;
    line-height: 1.7;
    margin-bottom: 2.6em;
  }

  form .email-box-wrapper {
    height: 57px;
    min-width: 280px;
  }

  form .email-box-wrapper .icons {
    height: 57px;
  }

  form .email-box-wrapper .icons .submit-btn {
    width: 100px;
    border-radius: 2.5em;
  }

  form .email-box-wrapper .icons .layer {
    width: 100px;
    border-radius: 2.5em;
  }
}

/* desktop screen only*/
@media (width >= 992px) {
  main .article .desktop-logo {
    display: block;
    margin: 4em 0 8em 0em;
  }

  .wrapper main {
    max-width: calc(100% - 162px);
  }

  main .hero-image {
    max-width: 47.7%;
  }

  main .article {
    width: 100%;
  }

  main .article .headline {
    font-size: 4rem;
    letter-spacing: 16.5px;
  }
}

@media (width > 1440px) {
  .wrapper main {
    margin: 0 auto;
  }
}
